<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Calculator</h1>

      <div class="row">
        <div class="col-xs-8">
          <div class="row">
            <div class="row">
              <div class="bg-info col-xs-12" style="min-height: 85px; overflow-x: scroll; white-space: nowrap"><h2 id="heldValue"/></div>
            </div>
            <div class="row">
              <div class="bg-warning col-xs-1" style="min-height: 85px"><h2 id="operation"/></div>
              <div class="bg-info col-xs-11" style="min-height: 85px; overflow-x: scroll"><h2 id="display"/></div>
            </div>
          </div>
          <div class="row">
            <table class="col-xs-12">
              <tbody>
                  <tr><td colspan=4><button class="btn btn-block btn-warning" id="backspaceButton">Backspace</button></td></tr>
                  <tr>
                    <td><button id="clearButton" class="btn btn-block">C</button></td>
                    <td><button class="operationButton btn btn-block">**</button></td>
                    <td><button class="operationButton btn btn-block">sqrt</button></td>
                    <td><button class="operationButton btn btn-block">/</button></td>
                  </tr>
                  <tr>
                    <td><button class="number btn btn-block">7</button></td>
                    <td><button class="number btn btn-block">8</button></td>
                    <td><button class="number btn btn-block">9</button></td>
                    <td><button class="operationButton btn btn-block">*</button></td>
                  </tr>
                  <tr>
                    <td><button class="number btn btn-block">4</button></td>
                    <td><button class="number btn btn-block">5</button></td>
                    <td><button class="number btn btn-block">6</button></td>
                    <td><button class="operationButton btn btn-block">+</button></td>
                  </tr>
                  <tr>
                    <td><button class="number btn btn-block">1</button></td>
                    <td><button class="number btn btn-block">2</button></td>
                    <td><button class="number btn btn-block">3</button></td>
                    <td><button class="operationButton btn btn-block">-</button></td>
                  </tr>
                  <tr>
                    <td><button class="btn btn-block" id="negate">+/-</button></td>
                    <td><button class="number btn btn-block">0</button></td>
                    <td><button class="number btn btn-block">.</button></td>
                    <td><button class="btn btn-block btn btn-primary" id="equalsButton">=</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="col-xs-4 bg-warning" style="overflow-x: hidden">
        <h1>Results</h1>
        <p>Click on a result to use.</p>
        <ol>
        <% for o in 1..10 %>
          <li class="pastResult"><h3 id="mem_<%= (11 - o) %>"/></li>
        <% end %>
        </ol>
      </div>
    </div>
  </body>
</html>
