<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Calculator</h1>
    <table>
      <thead>
        <tr><td colspan=6 id="heldValue" /></tr>
        <tr><td id="operation"></td><td colspan=5 id="display"></td></tr>
      </thead>
      <tbody>
          <tr><td colspan=4 id="backspaceButton">Backspace</td></tr>
          <tr>
            <td id="clearButton">C</td><td class="operationButton">**</td><td class="operationButton">sqrt</td><td class="operationButton">/</td>
          </tr>
          <tr>
            <td class="number">7</td><td class="number">8</td><td class="number">9</td><td class="operationButton">*</td>
          </tr>
          <tr>
            <td class="number">4</td><td class="number">5</td><td class="number">6</td><td class="operationButton">+</td>
          </tr>
          <tr>
            <td class="number">1</td><td class="number">2</td><td class="number">3</td><td class="operationButton">-</td>
          </tr>
          <tr>
            <td id="negate">+/-</td><td class="number">0</td><td class="number">.</td><td id="equalsButton">=</td>
          </tr>
      </tbody>
    </table>
    <div>
      <h1>Results</h1>
        <ol>
        <% for o in 1..10 %>
          <li class="pastResult" id="mem_<%= (11 - o) %>"/>
        <% end %>
      </ol>
    </div>
  </body>
</html>
